$main-color: #d7ccc8;
$dark-color: #4e342e;
$gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(141, 110, 99, 1) 0%, rgba(109, 76, 65, 1) 36%, rgba(78, 52, 46, 1) 100%);

//media

$large-size: "992px";
$medium-size:"768px";
$small-size: "576px";
// $medium-size:"768px";
// $medium-size:"768px";