.modal {
  background: linear-gradient(135deg, #251605, #7D4F50); // Темный градиент
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  transition: height 0.4s ease-in-out;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.open {
  height: 100vh;
}

.close {
  height: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.menu {
  text-align: center;
}

.menu__list {
  list-style: none;
  padding-top: 100px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list__item {
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
  animation-delay: calc(var(--i) * 0.2s);
  transform: translateY(20px);

  & > span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f1f1f1; // Белый текст
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #ffcc00; // Желтая линия
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: #ffcc00; // Акцентный желтый при наведении
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
